# IDE
.idea

# npm
node_modules
dist/

# mac
.DS_Store

# TO_s_DO_pid
*todo*.txt
todo.txt
.TO_s_DO_pid.bak
.env
example_backup.todo.md

# Testing
coverage/
.nyc_output/
tests/e2e/screenshots/
tests/e2e/videos/
tests/e2e/downloads/
